<div id="container">
  <div id="activities">
    <form id="addActivity" action="#">
      <div>
        <label for="coverImage">CoverImage: </label>
          <input id="coverImage" type="file" />
        <label for="title">Title: </label>
          <input id="title" type="text" />
        <label for="instructor">Instructor: </label>
          <input id="instructor" type="text" />
        <label for="time">Time: </label>
          <input id="time" type="text" />
        <label for="location">Location: </label>
          <input id="location" type="text" />
        <button id="add">Sign up for Activity</button>
      </div>
    </form>
  </div>
</div>