<script id="activityTemplate" type="text/template">
	<div class="activityContainer">
    <%= image_tag "spaday.jpg", class: "default-img" %>
    <ul>
        <li>title</li>
        <li>instructor</li>
        <li>time</li>
        <li>location</li>
    </ul>
    <button class="delete">Remove</button>
  </div>
</script>