<script id="activityTemplate" type="text/template">
    <img src="images/spaday.jpg"/>
    <ul>
        <li>title</li>
        <li>instructor</li>
        <li>time</li>
        <li>location</li>
    </ul>
    <button class="delete">Remove</button>
</script>