<script id="activityTemplate" type="text/template">
  <%= image_tag "spaday.jpg", class: "default-img" %>
  <ul>
    <li>Title: </li>
    <li>Instructor: </li>
    <li>Time: </li>
    <li>Location:</li>
  </ul>
  <button class="delete">Remove</button>
</script>