<script id="activityTemplate" type="text/template">
  <%= image_tag "spaday.jpg", class: "default-img" %>
  <ul>
    <li>Title: {{title}}</li>
    <li>Instructor: {{instructor}}</li>
    <li>Time: {{time}}</li>
    <li>Location: {{location}}</li>
  </ul>
  <button class="delete">Remove</button>
</script>